<%- include('../partials/header') %>
    <h1>Skill Show Page</h1>
    <p>Skill: <%=skill.skill %> </p>
    <p>Level: <%= skill.level %> </p>
    <a href="/skills/<%= skill.id %>/edit">
        Edit this Skill
    </a>
<%- include('../partials/footer') %>